/* tekstit */
.teksti{
  font-family: Corbel;
  font-size: 20px;
  color: grey;
}
.otsikko{
  font-family: Corbel;
  font-size: 35px;
  color: orange;
}
h3, a, a:hover{
  text-decoration: none;
  font-family: Corbel;
  color: #222222;
}


/* sivun wrapper */
#wrapper{
  width: 1422px;
  height: 662px;
  margin: auto;
  margin-top: 100px;
}

/* header */
.header{
  height: 110px;
  width:1000px;
  background-color:  #4BAD31;
  font-family: Chapparal Pro;
  padding-top: 10px;
  float:left;
  -webkit-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
}
.header img{
  width: 250px;
  margin: 0px 20px 0px 10px;
}
#header_text1,
#header_text1:hover{
  font-size: 30px;
  color: white;
  text-decoration: none;
}
#header_text2,
#header_text2:hover{
  font-size: 30px;
  color: white;
  font-style: italic;
  text-decoration: none;
}


/* karuselli */
#carousel-custom{
  width: 1000px;
  height: 550px;
  float:left;
  -webkit-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
}
#carousel-custom .carousel-outer {
  position: relative;
  float:left;
}
.item{
  padding: 20px;
  height: 469px;
}
.leftside{
  float: left;
  width: 475px;
  height: 450px;
  font-family: Corbel;
  color: grey;
  font-size: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
.rightside{
  width: 475px;
  height: 450px;
  float: right;
  font-family: Corbel;
  color: grey;
  font-size: 20px;
  display:block
}
.rightside img{
  height: 450px;
  background-color: transparent;
  margin: auto;
  display: block;
}

/* karusellin indikaattorit */
#carousel-custom .carousel-indicators{
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
#carousel-custom .carousel-indicators li {
  background-color: transparent;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto;
}
.carousel-indicators img {
  display: block;
  background-color:#acd29b;
  width: 28px;
  height: 8px;
}
.carousel-indicators .active img{
  display: block;
  background-color:#f08218;
}
.indicators li{
  border: 1px solid #cccccc;
  background-color: #cccccc;
}

/* karusellin controllit */
.carousel-control.left, .carousel-control.right {
  background-image: none;
  top: 88%
}
.glyphicon-chevron-left,
.glyphicon-chevron-right{
  color: green;
}

/* navbar */
#navbaar{
  height: 660px;
  width: 400px;
  float: left;
  margin: 40px 20px 0px 0px;
  font-family: Corbel;
  color: grey;
}
#navbaar a{
  text-decoration: none;
  font-family: Corbel;
  color: grey;
  font-size: 30px;
}
#navbaar .inactive,
#navbaar .active{
  width: 370px;
  padding-left: 10px;
  margin-bottom: 10px;
}
#navbaar .active{
  background-color: #acd29b;
}
#navlist{
  height: 550px;
  width: 400px;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}


/* haitarilistat */
button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}
div.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow-y: auto;
  height: 100px;
}
div.panel.show {
  display: block;
}


 /* totta vai tarua tehtävät */
 #vastauswrapper{
   width: 475px;
   height: 310px;
   padding: 5px;
   overflow-y: auto;
 }
 #group{
   display: block;
   width: 120px;
   float: left;
   margin-left: 10px;
   margin-top: 20px;
 }
 #radionappi{
   margin-bottom: 7px;
   width:35px;
   height: 20px;
   margin-left: 15px;

 }
 #tottatarua{
   height: 25px;
   width:25px;
   float: right;
   margin-bottom: 7px;
   margin-right: 50px;
 }
 #kysymys{
   width:300px;
   float: left;
   display: block;
   margin-top: 20px;
 }
#formi_nimi{
  margin: auto;
}


/* taulukot */
.tableborder,
.tableborder tr,
.tableborder td{
  border: 1px solid grey;
  padding: 5px;
}
.tableborderform,
.tableborderform tr,
.tableborderform td{
  border-top: 1px solid grey;
  padding: 5px;
}

/* dragrop */

.draggable{
  margin: 0px 10px 10px 0px;
  float: left;
  font-family: Corbel;
  font-size: 20px;
}
.droppable{
  width: 200px;
  height: 200px;
  margin-right: 10px;
  border: 5px solid #66cc66;
  border-radius: 10px;
  background-color: #9fdf9f;
  float: left;
  padding-top: 70px;
  text-align: center;
  font-family: Corbel;
  font-size: 30px;
}
#blocks{
  width: 771px;
  height: 121px;
}
#goals{
  width: 841px;
  height: 201px;
}
.droppedright{
  background-color: #4dff4d;
}
.droppedwrong{
  background-color: #ff6666;
}
