 /* tekstit */
 p{
   margin: 0;
 }
 .teksti{
   font-family: Arial,Helvetica,sans-serif;
   font-size: 1.5em;
   color: grey;
   margin: 0 !important;
 }
 .otsikko{
   font-family: Arial,Helvetica,sans-serif;
   font-size: 2.5em;
   color: orange;
   line-height: 110%
 }
.carousel h3,
.carousel a,
.carousel a:hover{
  font-family: Arial,Helvetica,sans-serif;
  color: grey;
  text-decoration: none;
}
.accordion h3,
.accordion a,
.accordion a:hover{
  text-decoration: none;
  font-family: Arial,Helvetica,sans-serif;
  color: grey !important;
}
.accordion a,
.accordion a:hover{
  font-size: 1.5em;
}

/* hidden / visible */
.hidden{
  display: none !important;
}
.visible{
  display: block !important;
}

/* haitarit */
.accordion{
 height: 100%;
}
.aPanel{
  border: 1px solid grey;
  border-top: none;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: auto;
}
.aPanelIndicator{
  height: 100%;
  width: 5%;
  float: left;
  text-align: center;
}
.aPanelButton{
  border: 1px solid grey;
  border-radius: 3px;
  width: 100%;
  padding: 5px;
  margin-top: 1px !important;
  position: relative;
  float: left;
  cursor: pointer;
}
.aPanelButtonText{
  text-align: left !important;
  float: left;
  width: 90%;
}

/* sivun wrapper */
#wrapper{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* header */
.header{
  height: 15%;
  width: 70%;
  background-color:  #4BAD31;
  float: left;
  -webkit-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
}
.header-image{
  float: left;
  height: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#menuButton{
  display: none;
}
#menuButton img{
  width: 50px;
  height: 50px;
}
#menuButton2{
  display: none;
}
#menuButton2 img{
  width: 50px;
  height: 50px;
}

/* karuselli */
#carousel-custom{
  width: 70%;
  height: 85%;
  float:left;
  -webkit-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 3px 22px -1px rgba(0,0,0,0.75);
}
#carousel-custom .carousel-outer {
  position: relative;
  float:left;
}
.carousel-inner{
  height: 100%;
  width: 100%;
}
.item{
  height: 95%;
  width: 100%;
  padding: 0px;
}
.content{
  height: 100%;
  width: 100%;
  padding: 10px;
}
.textWrapper{
  width: 100%;
  height: 95%;
  overflow-y: auto;
  overflow-x: hidden;
}
.leftside{
  float: left;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.rightside{
  width: 50% !important;
  height: 100% !important;
  float: right;
  overflow-y: auto;
  overflow-x: hidden;
}
.titleImage{
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
}
#mob-control{
  display: none;
}

/* karusellin indikaattorit */
#carousel-custom .carousel-indicators{
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 1;
  margin-left: -30%;
  text-align: center;
  list-style: none;
  width: 70%;
  left: 45%;
}
#carousel-custom .carousel-indicators li {
  background-color: transparent;
  display: inline-block;
  height: auto;
  margin: 0 !important;
  width: auto;
  cursor: pointer;
}
.carousel-indicators img {
  display: block;
  background-color:#acd29b;
  width: 28px;
  height: 8px;
}
.carousel-indicators .active img{
  display: block;
  background-color:#f08218;
}
.indicators li{
  border: 1px solid #cccccc;
  background-color: #cccccc;
}

/* karusellin controllit */
.carousel-control.left, .carousel-control.right {
  background-image: none;
  top: 88%;
  cursor: pointer;
}
.carousel-control{
  width: 10%;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right{
  color: green;
}

/* navbar */
#navbaar{
  height: 100%;
  width: 30%;
  float: left;
}
#navbaar h1{
  font-family: Arial,Helvetica,sans-serif;
  color: #595959;
  height: 10%;
}
#closebutton{
  display: none;
}
#navlist{
  height: 90%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
#navbaar .inactive,
#navbaar .active{
  list-style: none;
  text-decoration: none;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 90%;
  color: grey;
  font-size: 1.5em;
  width: 100%;
  padding: 5px;
  margin: 5px 0px 5px 0px;
  cursor:pointer;
}
#navbaar .active{
  background-color: #acd29b;
}

 /* totta vai tarua tehtävät */
 .kyselywrapper{
   width: 50%;
   height: 100%;
   float: right;
   overflow-y: auto;
   overflow-x: hidden;
 }
 .tehtavaWrapper{
   display: inline-block;
   width:100%;
   margin-bottom: 15px !important;
 }
 .leftWrapper{
   width:70%;
   height: 100%;
   float: left;
 }
 .rightWrapper{
   width:30%;
   height: 100%;
   float: left;
 }
 .upperLeftWrapper{
   width:70%;
   float: left;
   height: 10%;
 }
 .upperRightWrapper{
   width:30%;
   float: right;
   height: 10%;
 }
 .radionappi{
   height:10%;
   margin: 0px 20px 0px 20px !important;
 }
.tottatarua{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 1.5em;
  color: grey;
  margin-right: 10px;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
#vastaus{
  font-family: Arial,Helvetica,sans-serif;
  color: grey;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom:-5px;
  visibility: hidden;
}
.vastaus-visible{
  font-family: Arial,Helvetica,sans-serif;
  color: grey;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom:-5px;
}

/* taulukot */
.tableborder,
.tableborder tr,
.tableborder td{
  border: 1px solid grey;
  padding: 5px;
}
.tableborderform,
.tableborderform tr,
.tableborderform td{
  border-top: 1px solid grey;
  padding: 5px;
}

/* dragrop */
.drag{
  display: inline;
  float: left;
  background-color: #bfbfbf;
  padding: 3px;
  margin: 3px;
  border: 1px solid grey;
  border-radius: 3px;
}
.drop{
  width: 25%;
  height: 100%;
  float: left;
  background-color: #e6e6e6;
  border: 1px solid grey;
  margin-right: -1px
}
.drop p{
  margin: 0;
  text-align: center;
}
.dropWrapper{
  width: 90%;
  height: 40%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.dragRight{
  background-color: #66ff66;
}
.dragWrong{
  background-color: #ffff00;
}

/* medium screens */
@media only screen and (max-width: 1200px) and (min-width: 800px) {

  p.otsikko{
    margin: 0px;
  }
  #wrapper{
    width: 100% !important;
    height: 100vh !important;
    margin: 0px !important;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  .header{
    height: 15% !important;
    width: 100% !important;
  }
  #carousel-custom{
    width: 100% !important;
    height: 85% !important;
  }
  #carousel-inner{
    height: 100% !important;
    width: 100% !important;
  }
  .item{
    padding: 0px !important;
    width: 100% !important;
    height: 90% !important;
  }
  .content{
    width: 100% !important;
    height: 100% !important;
    padding: 10px;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  .accordion{
    max-height: 100%;
  }
  #menuButton2{
    display: inline-block !important;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1% 1% 0 0;
  }
  #menuButton2 img{
    margin: auto;
  }
  #control3, #control4{
    display: none;
  }
  #mob-control{
    display: none;
  }
  #navbaar{
    display: none;
    position: absolute;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
    background-color: white;
    z-index: 2;
  }
  #navtitle{
    height: 10%;
    width: 50%;
    float: left;
    padding: 10px;
  }
  #closebutton{
    display: inline-block !important;
    float: right;
    margin: 5px;
    cursor: pointer;
  }
  #navbaar h1{
    margin: 0%;
  }
  #navlist{
    width: 100% !important;
    height: 90% !important;
  }
  .kyselywrapper{
    width: 100% !important;
    float: left !important;
    overflow-y: visible !important;
    overflow-x: initial !important;
  }

}

/* small screens */
@media only screen and (max-width: 800px) {

  #wrapper{
    width: 100% !important;
    height: 100vh !important;
    margin: 0px !important;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #carousel-custom{
    width: 100% !important;
    height: 100% !important;
  }
  #carousel-inner{
    height: 90% !important;
    width: 100% !important;
  }
  .header{
    display: none;
  }
  .item{
    padding: 0px !important;
    width: 100% !important;
    height: 100% !important;
  }
  .content{
    padding: 10px;
    width: 100% !important;
    height: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
  }
  .textWrapper{
    width: 100% !important;
    height: 100% !important;
    overflow-y: visible !important;
  }
  a.left.carousel-control{
    display: none;
  }
  #control1, #control2{
    display: none;
  }
  #control3, #control4{
    display: inline-block;
    top: auto !important;
    bottom: 5% !important;
    height: 60px !important;
  }
  .glyphicon-chevron-right,
  .glyphicon-chevron-left{
    color: white !important;
  }
  #mob-control{
    width: 100%;
    height: 10%;
    padding: 5px;
    display: inline-block !important;
    background-color: #4BAD31;
    position: absolute;
  }
  #menuButton{
    display: inline-block !important;
    position: relative;
    margin-left: -34px;
  }
  #menuButton img{
    display: block !important;
  }
  #bWrapper{
    width: 69px;
    height: 100%;
    margin-left: 50%;
  }
  #navbaar{
    display: none;
    position: absolute;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    margin: 0% !important;
    background-color: white;
    z-index: 1;
  }
  #navtitle{
    height: 10%;
    width: 50%;
    float: left;
    padding: 10px;
  }
  #closebutton{
    display: inline-block !important;
    float: right;
    margin: 5px;
    cursor: pointer;
  }
  #navbaar h1{
    margin: 0%;
  }
  #navlist{
    width: 100% !important;
    height: 90% !important;
  }
  .leftside{
    height: auto !important;
    width: 100% !important;
    overflow: visible !important;
  }
  .rightside{
    height: auto !important;
    width: 100% !important;
    overflow: visible !important;
    float: left;
  }
  .carousel-indicators{
    display: none;
  }
  .kyselywrapper{
    width: 100% !important;
    float: left !important;
    overflow-y: visible !important;
    overflow-x: initial !important;
  }
}
